<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<div th:if="${errors != null && !errors.isEmpty()}" >
    <ul>
        <!--/*@thymesVar id="error" type="javax.el.ImportHandler.NotFound"*/-->
        <li style="color: red" th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
Add User
<form action="/user/add" method="post">
    <input th:if="${user != null}" type="hidden" th:value="${user.id}" name="id">
    Name: <input type="text" name="name" th:value="${user == null} ? '' : ${user.name}"/> <br>
    surname:<input type="text" name="surname" th:value="${user == null} ? '' : ${user.surname}"/><br>
    phone:<input type="text" name="phone" th:value="${user == null} ? '' : ${user.phone}"/><br>
    email:<input type="text" name="email" th:value="${user == null} ? '' : ${user.email}"/><br>
    password: <input type="password" name="password" th:value="${user == null} ? '' : ${user.password}"/><br>
    <input type="submit" value="save">
</form>
</body>
</html>